<ion-header >


  
  <ion-toolbar style="background-color: white !important;" >

    <ion-fab horizontal="start" vertical="top">
      <ion-fab-button size="small">
        <ion-icon name="sync"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-title style="
    background-color: #8A4B38 !important;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    ">
      COFFEE FLAVOURS
    </ion-title>

    <ion-fab horizontal="end" vertical="top">
      <ion-fab-button size="small" href="/add-page">

        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true" class="body2" >

  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card style="background-color: white;">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
                 <ion-card-title color="primary">CoffeeName</ion-card-title> 
          </ion-col>
          <ion-col></ion-col>
          <ion-col horizontal="end" vertical="top">
                 <ion-avatar >
          <img height="70px" width="70px" src="https://cdncloudcart.com/assets/themes/flair/img/defaults/noimage/no-image.png">        
      </ion-avatar>  
          </ion-col>
     
        </ion-row>
        <ion-row>
          <ion-col>
      <ion-card-subtitle>Coffee ID</ion-card-subtitle>            
          </ion-col>

        </ion-row>
        <ion-row>

            <ion-fab-button size="small" class="cardbuttons">
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>

            <ion-fab-button size="small" class="cardbuttons">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>

        </ion-row>
      </ion-grid>




    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card style="background-color: white;">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
                 <ion-card-title color="primary">CoffeeName</ion-card-title> 
          </ion-col>
          <ion-col></ion-col>
          <ion-col horizontal="end" vertical="top">
                 <ion-avatar >
          <img height="70px" width="70px" src="https://cdncloudcart.com/assets/themes/flair/img/defaults/noimage/no-image.png">        
      </ion-avatar>  
          </ion-col>
     
        </ion-row>
        <ion-row>
          <ion-col>
      <ion-card-subtitle>Coffee ID</ion-card-subtitle>            
          </ion-col>

        </ion-row>
        <ion-row>

            <ion-fab-button size="small" class="cardbuttons">
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>

            <ion-fab-button size="small" class="cardbuttons">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>

        </ion-row>
      </ion-grid>




    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card style="background-color: white;">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
                 <ion-card-title color="primary">CoffeeName</ion-card-title> 
          </ion-col>
          <ion-col></ion-col>
          <ion-col horizontal="end" vertical="top">
                 <ion-avatar >
          <img height="70px" width="70px" src="https://cdncloudcart.com/assets/themes/flair/img/defaults/noimage/no-image.png">        
      </ion-avatar>  
          </ion-col>
     
        </ion-row>
        <ion-row>
          <ion-col>
      <ion-card-subtitle>Coffee ID</ion-card-subtitle>            
          </ion-col>

        </ion-row>
        <ion-row>

            <ion-fab-button size="small" class="cardbuttons">
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>

            <ion-fab-button size="small" class="cardbuttons">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>

        </ion-row>
      </ion-grid>




    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

</ion-content>
